{% extends 'rango/base.html' %}
{% load bootstrap_toolkit %}

 {% block title_block %}
     Adicionar Nova Categoria
 {% endblock title_block %}

 {% block body_block %}

    <h2 class="form-signin-heading">Adicione uma nova categoria</h2>
     <div>

        <form role="form" id="category_form" method="post" action="{% url 'add_category' %}">
             {% csrf_token %}
             {{ form|as_bootstrap }}
        <br/>


            <button class="btn btn-primary" type="submit" name="submit">
                Criar Categoria
            </button>
         </form>
     </div>

 {% endblock body_block %}

