<!DOCTYPE html>
{% load staticfiles %}


 <html>
 <head>
     <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}"/>
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
     <link rel="stylesheet" href="{% static 'css/base.css' %}">
     <title> Rango - {% block title_block %}How to Tango with Django!{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">



    <link href="http://v4-alpha.getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
 </head>
 <body>
 <div>
{#     {% block body_block %}#}
{#     {% endblock %}#}
 </div>
 <hr />
 <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'index' %}">Blog</a>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
{#                <a class="nav-link" href="{% url 'about' %}">About</a>#}
            </li>
            <li class="nav-item">
{#                <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>#}
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
{#                    <a class="nav-link" href="{% url 'add_category' %}">Adicionar Nova Categoria</a>#}
                </li>
                <li class="nav-item">
{#                    <a class="nav-link" href="{% url 'auth_logout' %}?next=/rango/">Logout</a>#}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Olá, {{ user.username }}!</a>

                </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_category' %}">Adicionar Categoria</a>

                </li>

                </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'post_new' %}">novo post</a>

                </li>


            {% else %}
                <li class="nav-item">
                     <a class="nav-link" href="{% url 'registration_register' %}">Inscreva-se</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'auth_login' %}">Login</a>
                </li>


                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>


            {% endif %}
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
{#            {% block sidebar_block %}#}
{#                {% get_category_list category %}#}
{#            {% endblock %}#}
        </nav>

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
            {% block body_block %}{% endblock %}
        </main>
    </div>
 </div>


<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="http://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="http://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>


 </div>
 </body>

 </html>