{% extends 'rango/base.html' %}
 {% load staticfiles %}

 {% block title_block %}
     {{ category.name }}
 {% endblock title_block %}

 {% block body_block %}
     <div>
         {% if category %}
             <h2>{{ category.name }}</h2>
             {% if pages %}
                 <ul>
                     {% for page in pages %}
-                        <li><a target=_blank href="{% url 'goto' %}?page_id={{page.id}}"\>{{ page.title }}</a></li>

                     {% endfor %}
                 </ul>
             {% else %}
                 <strong>Não há páginas atualmente nessa categoria.</strong>
             {% endif %}
         {% else %}
             A categoria especificada não existe.
         {% endif %}
     </div>
     <a href="{% url 'add_page' category.slug %}">Adicionar página em {{ category.name }}</a> <br/>
Add a comment to this line
 {% endblock body_block %}


