{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Index
{% endblock %}
{% block body_block %}

    <div class="row marketing">
        <div class="col-lg-6">
            <h4>Categorias Mais Curtidas</h4>
            <p>

                {% if categories %}
                    <ul class="list-group">
                        {% for category in categories %}
                            <li class="list-group-item">
                                <a href="{% url 'show_category' category.slug %}">{{ category.name }} ({{ category.likes }})</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <strong>Não há categorias presentes.</strong>
                {% endif %}
            </p>
        </div>
        <div class="col-lg-6">
            <h4>Páginas Mais Visitadas</h4>
            <p>
                {% if pages %}
                    <ul class="list-group">
                        {% for page in pages %}
                            <li class="list-group-item">
                                <a href="{{ page.url }}">{{ page.title }} ({{ page.views }})</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <strong>Não ha paginas visitadas.</strong>
                {% endif %}
            </p>
        </div>
    </div>





    <img src="{% static "images/rango.jpeg" %}" alt="Picture of Rango" />
    <br>

    {% for post in posts %}
    <div class="post">
        <div class="date">
            {{ post.published_date }}
        </div>
        <h3><a href="">{{ post.title }}</a></h3>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    {% endfor %}




{% endblock %}