{% extends 'rango/base.html' %}

{% block body_block %}
    <h1>New post</h1>
      <div class="four wide column centered inverted">
    <form method="POST" class="post-form" action="{% url 'post_new' %}">
        {% csrf_token %}

        {% for hidden in form.hidden_fields %}
                {{ hidden }}
         {% endfor %}

         {{ form.title.errors }}
                <h5>{{ form.title.help_text }}</h5>
                {{ form.title }}<br/>
                <br>



                {{ form.text }}
                {{ form.text.errors }}

                <br>
                {{ form.author.errors }}
                <h5>{{ form.author.help_text }}</h5>
                {{ form.author }}<br/>

                <br>


        <button type="submit" class="save btn btn-default" >Guardar</button>
    </form>

     <s></s>
{% endblock %}