{% extends "rango/base.html" %}
{% load bootstrap_toolkit %}


{% block body_block %}
    <h2 class="form-signin-heading">Alteração de senha</h2>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form| as_bootstrap }}
        <br/>
        <button class="btn btn-primary" type="submit" name="submit">
            Enviar

        </button>
    </form>

{% endblock body_block%}